<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <h1>Todo List</h1>

        <ul>
          {% for todo in todos %}
          <li>
            <h3>{{ todo.title }}</h3>
            <p>{{ todo.description }}</p>
            <a href="/edit/{{ todo.id }}">Edit</a>
            <a href="/delete/{{ todo.id }}">Delete</a>
          </li>
          {% endfor %}
        </ul>
        <a href="/create">Create New Todo</a>
      </div>
    </section>
  </body>
</html>
